<tr>
  <td><div class="article-title"> <%= link_to article.title, article_path(article) %></div></td>
  <td><%= article.views_count %></td>
  <td><%= article.user.email.split('@').first %></td>
  <td><%= article.published_date %></td>
  <td>
    <%= link_to 'Edit', edit_article_path(article)  %> |
    <%= link_to 'Delete', article_path(article), method: :delete, data: { confirm: "Delete this article?" } %>
  </td>
</tr>
